@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

:root {
  --primary-color: #02162b
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,body {

  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #02162b;
}

.container{
  max-width: max-content;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,22,43);
background: linear-gradient(90deg, rgba(2,22,43,1) 0%, rgba(0,71,171,1) 35%, rgba(0,255,243,1) 100%);
  padding: 1rem;
  border-bottom: 5px solid rgba(255, 255, 255, 0.199);
}

.logo {
  text-align: center;
  margin-bottom: 0.5rem;
}


.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.links a {
  margin: 0 0.5rem 0 0.5rem;
  color: #fff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
